.toggle-language {
    font-family: $content_font;
    width: 60px;

    a {
        font-family: $content_font;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
    }

    .dropdown-toggle {
        justify-content: space-between;
    }

    .toggle-language-menu {
        margin-top: -15px;
        left: -3px;
    }

    .flag-united-kingdom {
        margin-right: 10px;
    }
}