.offcanvas {
    min-height: 60vh;
    // --bs-offcanvas-height: 55vh;
}

.btn-primary {
    border: none;

    &:hover {
        background-color: #494949;
    }
}

.Search__top {
    display: flex;
    justify-content: center;
    align-items: center;

    .inputSearch {
        margin: 0 auto;
        border: 1px solid gray;
        width: 1200px;

        input {}
    }
}



.search_content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0px 50px;

    .search_results {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        color: black;
        position: relative;

        .search_results_product {
            width: 17%;
            cursor: pointer;

            img {
                width: 80%;
            }

        }

        .loading-wrapper {
            position: absolute;
            left: 40%;
            top: 40%;
        }
    }
}